

.boxes {
    border: 1px black solid;
    width: 50px;
    height: 50px;
    padding: 20px;
    color: #ff3824;
    font-weight: bold;
    margin: 25px;
}

#red {
     height: 20px;
     width: 30px;
     background-color: red;
 }

#blue {
    height: 20px;
    weight: -30px;
    background-color: blue;
}

#green {
    height: 30px;
    weight; 500px;
    background-color: green;
}