/*width = width + padding + border*/
.container {
    overflow: auto;
    max-width: 1024px;
    margin: 10px 0;
    text-align: center;
}

.row { /* clearfix */
    width: 100%;
    overflow: auto;
    margin: 20px 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    box-sizing: border-box;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid black;
    /*this won't add the padding and the
    border to the width of the element*/

}
.col-1-half {
    width: 50%;
    /*background-color: #77AF00;*/
    /*border: 10px solid red;*/
}
.col-2-thirds {
    width: 33.33%;
    /*background-color: yellow;*/
    /*border: 10px solid yellowgreen;*/

}
.col-3-fourth {
    width: 25%;
    /*background-color: #FF9800;*/
    /*border: 10px solid crimson;*/
}

.col-4-eights {
    width: 12.5%;
    /*background-color: lightseagreen;*/
}

.col-1-half,
.col-2-thirds,
.col-3-fourth,
.col-4-eights {
    float: left;

}
