.container1 {
    /*float: left;*/
}


.container {
    margin: 25px;
    padding: 5px;
    padding-top: 0;
    height: 100%;
    backgroud-color: #cbd1c0;
}

.boxes {
    border: none;
    height: 500px;
    padding: 0;
    color: #040101;
    font-weight: bold;
    margin: 0;
}

#dark {
    height: 602px;
    background-color: #999f8e;
}

#light {
    float: left;
    height: 580px;
    background-color: #cbd1c0;
    background-position: center;
    padding: 11px;
}


#logo {
    text-align: center;
    color: darkgreen;
    margin: 0;
    padding: 0;
    padding: 15px;
    padding-left: 100px;
    font-family: fantasy;
}

a {
    color: black;
    
}

h2, p {
    margin: 0;
    padding: 0;
    color: black;
    padding: 15px;
    padding-left: 100px;
    font-family: 'Karma', serif;
}


/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


coolin {

}

