* {
	padding: 5px 10px;
	/*background-color: wheat;*/
}
h1 {
	text-shadow: grey;
	text-align: center;
	font-family: 'Lobster', cursive;
}
h2 {
	font-family: 'Pacifico', cursive;
	text-decoration: underline;
}
h3 {
	text-decoration: underline;
	font-family: 'Hi Melody', cursive;

}

p {
	color: lightgrey;
}


